.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#426a74, #6ac8df );
  } 
  h1 {
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: 137px;
    border-radius: 11px;
    font-size: 14px;
    background-color: #48B5A7;  
    color: white;
  } 
  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color: #302F41;
    border-radius: 5px;
    box-shadow: 0 90px 500px 2px rgb(28, 26, 26);
  }  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  } 
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    /* background-color: rgb(133, 110, 110); */
    border: none;
  } 
  .submit {
    background-color: #48B5A7;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
  }
  .remember-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 125px;
  }  
  .remember-me-container input {
    margin-right: 5px;
  } 
  .remember-me-container label{
    color:#6ac8df ;
    font-weight: 400;
  }
  .remember-me-container-label{
    margin-top: 10px;
  }
  a{
    text-decoration: none;
    margin-bottom: 15px;
    color: #6ac8df;
  }
  
  