.login-container {
    display: flex;
   
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#488695, #71e3ff );
   
  } 
  
  h1 {
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: 137px;
    border-radius: 11px;
    font-size: 14px;
    background-color: #48B5A7;  
    color: white;
  } 

  .avatar{
    height: 70px;
    width: 70px;
    margin-left: 130px;
    border-radius: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .inputStyle{
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 325px; /* Adjust width as needed */
  }

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: #302F41;
    border-radius: 5px;
  
  }  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  } 
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    /* background-color: rgb(133, 110, 110); */
    border: none;
  } 
  .submit {
    background-color: #48B5A7;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
  }
  .forgotContainer{
    margin-top: 10px;
    margin-left: 20px;
  }
  .remember-me-container {
    display: flex;
   width: 100%;
    margin-bottom: 15px;
    gap: 100px;
  }  
  .remember-me-container input {
    margin-right: 5px;
  } 
  .remember-me-container label{
    color:#6ac8df ;
    font-weight: 400;
  }
  .remember-me-container-label{
    margin-top: 10px;
  }
  a{
    text-decoration: none;
    margin-bottom: 15px;
    color: #6ac8df;
  }
  
  